#topbar{
    position:fixed;
    width:calc( 100% - 330px );
    height:40px;
    background-color:#ddd;
}
#menu{
    max-width: 500px;
}
.dropdown{
    float:left;
    padding:10px;
    background-color: #ccc;
}
.dropdown ul{
    display:none;
    position:absolute;
    background-color:#bbb;
    padding:10px;
    top:15px;
    list-style-type: none;
}
.dropdown:hover ul{
    display:block;
}
#engineControl{
    float:right;
}